.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

playground.R
*_files/

README.html
*_cache/
*_files/
inst/**/*.html

# Memory Bank and CLI files
memory-bank/
.cline*

_extra/

.roo/

package-lock.json

package.json

node_modules/

.roomodes
